# System
.DS_Store
.idea/

# Temp
*.log
*.cache
*.diff
*.patch
*.tmp
.eslintcache
*.turbo

# Coverage
coverage/
*.lcov

# Dependency
node_modules/

# Custermize
dist/
lib/
*.local.*
swet.config.*
apis/
services/
mock/
