registry=https://registry.npmjs.org
# https://pnpm.io/zh/npmrc#auto-install-peers
auto-install-peers=true
# https://pnpm.io/zh/npmrc#strict-peer-dependencies
strict-peer-dependencies=false
# https://pnpm.io/npmrc#public-hoist-pattern
public-hoist-pattern[]=*jest*
