# https://docs.npmjs.com/cli/v8/using-npm/developers#keeping-files-out-of-your-package

# system
.DS_Store
.idea/
.vscode/

# temp
temp/
*.log
*.cache
*.diff
*.patch
*.tmp
.eslintcache

# test
__tests__/
coverage/

# linter
.eslintrc*
.eslintrc.*
.eslintignore

# prettier
.prettierrc
prettier.config.js

# setting
tsconfig.json
tsconfig.*.json

# other
src/
scripts/
examples/
docs/
